<!DOCTYPE html>
<html>
<head>
  <title>TwitterAnonymous</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= @auth.provider %>
    <% if flash[:info] %>
      <div class="alert alert-success">
        <%= flash[:info] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>